<h3>Employee</h3>

<form>
    <div class="form-group">
        <label>Id: </label>
        <p>{{selectedEmployee.Id}}</p>
    </div>

    <div class="form-group">
        <label>FirstName:</label>
        <p>{{selectedEmployee.FirstName}}</p>
    </div>

    <div class="form-group">
        <label>BirthDate:</label>
        <p>{{selectedEmployee.BirthDate}}</p>
    </div>

    <div class="form-group">
        <label>FullName:</label>
        <p>{{selectedEmployee.FullName}}</p>
    </div>
    <div class="form-group">
        <label>Age:</label>
        <p>{{selectedEmployee.Age}}</p>
    </div>

</form>
<a (click)="goBack()">Back</a>