<tr>
  <td>{{todo.Id}}</td>
  <td>{{todo.FirstName}}</td>
  <td>{{todo.LastName}}</td>
  <td>{{todo.FullName}}</td>
  <td>{{todo.Age}}</td>
  <td>{{todo.BirthDate}}</td>
</tr>

<!--<div class="item-todo" [class.compeleted]="todo.complete">-->
  <!--<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">-->
  <!--<label (click)="gotoDetail(todo)">{{todo.FullName}}</label>-->
  <!--<button class="destroy" (click)="removeTodo(todo)"></button>-->
<!--</div>-->